$content-width: 800px;
$main: #F4EEEA;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #777774;
$link-hover-color: #4C4C4C;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #DBDBDB;
$header: #121426;

$theme-bar-bg: $link-hover-color;
$theme-color: $light;
$theme-content-bg: $main;
$theme-a: $header;
$theme-a-hover: $font-color;
$theme-accent: $link-hover-color;

$table-border-color: red;

/**
 * Tables
 */
.tablelines {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: $table-text-color;
  border-collapse: collapse;
  border: 1px solid $table-border-color;
  tr {
    &:nth-child(even) {
      background-color: $table-zebra-color;
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: $table-header-bg-color;
    border: 1px solid $table-header-border;
  }
  td {
    border: 1px solid $table-border-color;
  }

#bar {
  background-color: $theme-a;
  color: $link-color;
  a {
    color: $heading-font-color;
    &:hover {
      color: $link-color
    }
  }
}
#wrapper {
  background-color: $theme-content-bg;
}
#content-wrapper {
  color: $theme-bar-bg;
  h2 {
    margin-top: 3rem;
    margin-bottom: 0.8rem;
  }
  .intro h1{
    color: $font-color;
  }
  .education {
    h4 {
      margin-bottom: 0em;
    }
    h6 {
      margin :0em;
      }
    p {margin: 0em 1em 0em, 1em;
    }
  }
  .exp {
    &:after {
      background: $theme-accent;
      border: 3px solid $theme-content-bg;
    }
    h6 {
      color: darken($theme-color, 30%);
    }
  }
  .skills {
    .dot {
      color: $theme-accent;
    }
    .skill-level {
      background-color: $theme-color;
      .dot-position {
        background-color: $theme-accent;
      }
    }
  }
  .project {
    a {
      color: $theme-a;
      &:hover {
        color: #F7C855;
      }
      &:active{
        color:#F69A07;
      }
      &:visted{
        color:#121426
      }
    }
    h4 {
      margin-bottom: 0em;
    }
    h6 {
      margin: 0em 0em 1em 1em;
    }
    p { margin: 0em;
    }
    li {
      list-style-image: url("https://anthelix.github.io/anth_blog/favicon.ico");
      opacity:0.6;
    }
    li ul li {
      list-style: '| ';
    }
  }
  .timeline {
    &:before {
      background: $theme-color; /* Old browsers */
      background: -moz-linear-gradient(top,  $theme-color 1%, $theme-color 75%, $theme-content-bg 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, $theme-color), color-stop(75%, $theme-color), color-stop(100%, $theme-content-bg)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  $theme-color 1%, $theme-color 75%, $theme-content-bg 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  $theme-color 1%, $theme-color 75%, $theme-content-bg 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  $theme-color 1%, $theme-color 75%, $theme-content-bg 100%); /* IE10+ */
      background: linear-gradient(to bottom,  $theme-color 1%, $theme-color 75%, $theme-content-bg 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-1-color', endColorstr='$theme-1-content-bg',GradientType=0 ); /* IE6-9 */
    }
  }
}



*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

