---
layout: template
---

<h2 style="display: inline"> {{ page.title }} </h2> 
<h6 style="display: inline">
{% if page.urlsong %}
<a href="{{ page.urlsong }}">{{ page.subtitle }}</a> 
{% else %} 
<a>{{ page.subtitle }}</a> 
{% endif %}
</h6>
</br>
<time style="display: block;padding-bottom: 60px;padding-top: 40px;">Posted on {{ page.date | date: "%b %-d, %Y" }} {% if page.tag %} • {{ page.tag }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>

Well.   

{{ content }}
    



So, step by step and keep learning!



