---
layout: template
---

<h2 style="display: inline"> Title {{ page.title }} </h2> 
<a>
{% if page.urlsong %}
<h6 style="display: inline" href="{{ page.urlsong }}">{{ page.subtitle }}</h6> 
{% else %} 
<h6 style="display: inline">{{ page.subtitle }}</h6> 
{% endif %}
</a>
<time style="display: block">Posted on {{ page.date | date: "%b %-d, %Y" }} {% if page.tag %} • {{ page.tag }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>


{{ content }}
    

So, step by step and keep learning!



